<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dexter.configs"
						 type="Dexter.Configuraton.DxExternalConfigurationSectionHandler, Dexter"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <clear/>
    <!--<add key="connTypeName" value="oracle_managed"/>-->
    <add key="connTypeName" value="sql"/>
    <add key="connString" value="data source=.\SQLEXPRESS;initial catalog=FileStoreDbTest;integrated security=True;"/>
    <add key="insertKeyCount" value="1000"/>
  </appSettings>

  <dexter.configs writeEventLog="1" writeErrorLog="1">
    <dexter>
      <add name="sql"
           typename="System.Data.SqlClient.SqlConnection"
           namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           dialect="Sql" />

      <add name="oledb"
           typename="System.Data.OleDb.OleDbConnection"
           namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           dialect="OleDb" />

      <add name="odbc"
           typename="System.Data.Odbc.OdbcConnection"
           namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           dialect="Odbc" />
      
      <add name="oracle_net-4_112_3" 
           typename="Oracle.DataAccess.Client.OracleConnection" 
           namespace="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" 
           dialect="Oracle" />
      
      <add name="mysql-6_8_3" 
           typename="MySql.Data.MySqlClient.MySqlConnection" 
           namespace="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" 
           dialect="MySql"/>

      <add name="oracle_managed" 
           typename="Oracle.ManagedDataAccess.Client.OracleConnection" 
           namespace="Oracle.ManagedDataAccess, Version=4.112.3.50, Culture=neutral, PublicKeyToken=89b483f429c47342" 
           dialect="Oracle" />

    </dexter>
  </dexter.configs>
</configuration>